$primaryItem: rgb(182, 85, 153);
$primarywidth: 100px;

@mixin flexonem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  position: absolute;
  float: left;
  li {
    width: $primarywidth;
    background: $primaryItem;
    position: relative;
    list-style: none;
    height: 0;
    transition: 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
    @include flexonem();
  }
  .show {
    height: fit-content;
    &:hover {
      transform: scale(1.02);
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-300px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-300px, 0);
  }
}

.slide-transition-enter {
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
}
.slide-transition-enter-active {
  animation-name: slideIn;
  animation-duration: 400ms;
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
}

.slide-transition-exit {
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  height: 0;
}

.slide-transition-exit-active {
  animation-name: slideOut;
  animation-duration: 400ms;
  height: 0;
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
}
