$primaryItem: rgb(182, 85, 153);
$primarywidth: 100px;

@mixin flexonem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  position: absolute;
  float: left;
  .child {
    width: $primarywidth;
    background: $primaryItem;
    @include flexonem();
    &:hover {
      transform: scale(1.02);
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}

.slide-transition-enter {
  opacity: 0;
  transform: translateX(-300px);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slide-transition-enter-active {
  animation-name: slideIn;
  animation-duration: 400ms;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slide-transition-exit {
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slide-transition-exit-active {
  animation-name: slideOut;
  animation-duration: 400ms;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}
